body{
    background-color: antiquewhite;
    color:#442c14;
    margin-top: 10px;
}
button{
    border-radius: 5px;
    background-color: #442c13;
    color: antiquewhite;
    font-size: 16px;
    margin-left: 275px;
    width:55%;
    padding: 10px;
}
button:hover{
    background-color: #755433;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 150%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: large;
    margin-left: 100px;
    border-bottom:  rgb(99, 99, 99) 2px solid;
    border-right:  rgb(99, 99, 99) 2px solid;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}
label{
    position: absolute;
    margin-top: 20px;
    font-weight: 24px;
    font-size: 19px;
}
.logo{
    display: flex;
    justify-content: space-between;
    color: rgb(69, 37, 16);
    margin-left: -10px;
    width: 100%;
    margin-bottom: 20px;
    position: absolute;
    background-color: #ac8157;
    opacity: 85%;
    
}
h1{
    text-align: center;
    margin-top: 175px;
    width:210%;
    font-size: 35px;
    
}
.form{
    position: absolute;
    justify-content: center;
    margin-top: 10px;
    margin-left: 400px;
}
.img{
    width: 55px;
    height: 65px;
    margin-top: 0px;
    padding: 0px;
    margin-right: 20px;
    background-color:#ac8157;
}
#questhive{
    position: absolute;
    margin-top: 0px;
}
span{
    font-size: 44px;
}
h3{
    font-size: 28px;
    margin-left: 53px;
    
}
.game{
    
    float: right;
    margin-left: 1150px;
    padding: 0px;
    font-size: 24px
}
.head{
    position: relative;
}

h4{
    font-size: 16px;
    font-weight: bolder;
    float: left;
    margin-left: 40px;
    margin-top:45px;
}
#logout:hover{
    color: #e6d7bc;
    text-decoration: underline;
}
#logout{
    margin-left: 20px;
    color: rgb(57, 36, 11);
    font-size: 24px;
    float: right;
    padding: 20px;
    margin-right: 10px;

} 